<form class="example-form">
  <h1>Authentication</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="pwdFormControl" [errorStateMatcher]="matcher">
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    @if (pwdFormControl.hasError('pwd') && !pwdFormControl.hasError('required')) {
      <mat-error>Please enter your password</mat-error>
    }
    @if (pwdFormControl.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <button matButton="elevated">Connection</button>
</form>
